.components-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: repeat(1, 1fr); */
  width: 100%;
  gap: 0.6rem;
  padding: 1rem;

}

.defaultFullWidthContainer {
  width: 100%;
  height: 100%;
}


.components-container fieldset {
  font-size: 1.2rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.applyBorder {
  border: 1px solid white;
  border-radius: 0.25rem;
}

.cardbox {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 0.25rem;
}


.button {
  width: 10rem;
  height: 2rem;
  border-radius: 0.25rem;
  outline: none;
  border: none;
  background: linear-gradient(90deg, rgb(45, 43, 43), grey);
  box-shadow: 0px 0px 10px 2px rgb(81, 80, 80);
}

.button:hover {
  cursor: pointer;
  background: linear-gradient(90deg, rgb(38, 177, 205), rgb(2, 159, 250));
}

.rowFlexStart {
  justify-content: flex-start;
}

.colFlexEnd {
  align-items: flex-end;
}

.colFlexStart {
  align-items: flex-start;
}

/* firework */
/* Firework animation */
.firework {
  position: fixed;
  top: 70%;
  left: 50%;
  width: 20rem;
  height: 20rem;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
}

.firework-circle {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: radial-gradient(circle, #fff 60%, transparent 100%);
  animation: firework-burst 3s infinite forwards;
}

@keyframes firework-burst {
  0% {
    transform: scale(0) translate(0, 0);
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    transform: scale(1.5) translate(var(--x), var(--y));
    opacity: 0;
  }
}



/* toast message css */

.toast-box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 0.5rem;
  position: relative;
}

.toast-button-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.toast-message-box {
  width: 15rem;
  height: 2rem;
  background-color: transparent;
  color: rgb(255, 255, 255);
  cursor: pointer;
  animation: slideIn 2s linear;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  border: none;
  padding: 1rem;
  backdrop-filter: blur(40px);
}

@keyframes slideIn {
  0% {
    transform: translateY(-200%);
  }

  100% {
    transform: translateY(0%);
  }
}

/* Star rating CsS */
.starRating-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 23rem;
  min-height: 23rem;
}

.starSymbol {
  font-size: 3rem;
  text-shadow: #fce304;
  cursor: pointer;
}

.goldenStar {
  color: rgb(255, 226, 3);

}

.starInputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 2rem auto;
}

.starInputField {
  width: 5rem;
  height: 0.1rem;
  background-color: rgb(177, 192, 197);
  padding: 1rem;
  border: 2px solid #0d373e;
  border-radius: 0.5rem;
  color: black;
  font-weight: bold;
  box-shadow: 1px 1px 10px white;
  text-align: right;
}

/* Pagination  */

.pagination-component {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-container {
  display: flex;
  justify-content: center;
  gap: 0.5rem;

}

.post-image {
  width: 5rem;
  height: 10rem;
  object-fit: contain;
  border-radius: 0.25rem;
  box-shadow: 0px 0px 5px white;
}

.pagination-container {
  margin: 1rem 0rem 1rem 0rem;

}

.pagination-button {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  background-color: aliceblue;
  outline: none;
  border-radius: 0.25rem;
  color: black;
  margin-right: 0.875rem;
  border: none;
}

.pagination-button:hover {
  background-color: rgb(4, 201, 250);
  color: black;
}

.active-pagination-button {
  background: linear-gradient(90deg, rgb(38, 177, 205), rgb(2, 159, 250));
  color: rgb(255, 255, 255);
}

.disable-pagination-button {
  background-color: #38393a;
  color: rgb(255, 255, 255);
}


/* Stepper */

.step-container {
  margin-left: 0.25rem;
  flex-direction: column;
  display: flex;
  gap: 1rem;
}

.stepper {
  margin-bottom: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  cursor: pointer;
}

.step-number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: linear-gradient(90deg, rgb(67, 68, 69), rgb(158, 161, 162));
  position: relative;

}

.step-line {
  width: 0.15rem;
  height: 0%;
  display: flex;
  color: white;
  background: linear-gradient(90deg, rgb(67, 68, 69), rgb(158, 161, 162));
  position: absolute;
  top: 2rem;
  transition: height 0.5s ease-in;
}

.active-current-step {
  height: 2rem;
  background: linear-gradient(90deg, rgb(38, 177, 205), rgb(2, 159, 250));
}

.active-current-step-line {
  height: 3rem;
  background: linear-gradient(90deg, rgb(38, 177, 205), rgb(2, 159, 250));
}

.inactive-current-step-line {
  height: 3rem;
  background: linear-gradient(90deg, rgb(67, 68, 69), rgb(158, 161, 162));
}

.step-content-done {
  text-decoration: line-through;
  text-decoration-color: rgb(2, 159, 250);
  text-decoration-thickness: 0.15rem;
}

.step-content-bounce {
  color: rgb(2, 159, 250);
  animation: bounce 1s infinite alternate;
  text-shadow: 1px 1px 10px black;
}

.data-submitted {
  color: rgb(0, 222, 59);
  animation: bounce 1s infinite alternate;
  text-shadow: 1px 1px 10px rgb(0, 0, 0);
}

@keyframes bounce {
  0% {
    transform: translateY(0rem);
  }

  100% {
    transform: translateY(0.5rem);
    transform: scale(1.08);
  }

}

.stepper-buttons {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}

.step-button {
  width: 4rem;
  height: 2rem;
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
}

.step-button-active {
  background: linear-gradient(90deg, rgb(38, 177, 205), rgb(2, 159, 250));
}

.step-button-inactive {
  background: linear-gradient(90deg, rgb(67, 68, 69), rgb(158, 161, 162));
}

.step-button:hover {
  background: linear-gradient(90deg, rgb(0, 59, 111), rgb(3, 133, 246));
  ;
}


/* File Exploroer */


.explorer-container {
  border-left: 1px solid rgb(246, 246, 246);
  padding-left: 0.5rem;
  cursor: pointer;
  overflow-y: auto;
  max-height: 23rem;
  width: 97%;

  span {
    margin: 0.5rem;
    /* padding: 0.5rem; */
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 1rem;
  }
}

/* Accordian Panel */

.accordian-container {
  overflow-y: auto;
  max-height: 23rem;
  min-height: 23rem;
  width: 100%;
}

.accordian-panel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 94%;
  font-size: 1rem;
  padding: 0.5rem;
  margin-bottom: 1rem;

  color: black;
  cursor: pointer;
  background: linear-gradient(90deg, rgb(187, 189, 190), rgb(251, 251, 251));
  transition: height 0.5s ease-out;
}

.accordian-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 99%;
}

.accordian-panel p {
  margin: 0rem;
  padding: 0rem;
}

.accordian-panel-expand {
  height: 10rem;
}

.accordian-panel-collapse {
  height: 3rem;
}

/* infinte Scroll  */

.infinte-scroll-container {

  max-height: 23rem;
  min-height: 23rem;
  width: 100%;
  overflow-y: auto;
}


/* themeManager */

.themeManager {
  max-height: 23rem;
  min-height: 21rem;
  padding: 1rem;

}

.lightTheme {
  background: linear-gradient(90deg, white, grey);
  color: rgb(0, 0, 0);
}

.darkTheme {
  background: linear-gradient(90deg, rgb(0, 0, 0), rgb(60, 59, 59));
  color: rgb(254, 254, 254);
}

.themeToggleButton {
  cursor: pointer;
  width: 8rem;
  height: 2rem;
  border-radius: 0.5rem;
  font-size: 0.9rem;
}

/* .darkbutton {
  cursor: pointer;
  width: 8rem;
  height: 2rem;
  background-color: #222223;
  color: rgb(247, 243, 243);
  border-radius: 0.5rem;
  font-size: 0.9rem;
}

.lightbutton {
  cursor: pointer;
  width: 8rem;
  height: 2rem;
  background-color: #222223;
  color: rgb(247, 243, 243);
  border-radius: 0.5rem;
  font-size: 0.9rem;
} */


/* VirtualizedListGrid */

.virtualized-list-row {
  width: 94%;
  color: black;
  padding: 0.25rem;
}

/* tic-tac-toe */

.tic-tac-toe {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1rem;
  height: 87%;
}

.gameBoard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 16rem;
  margin: 0rem;
  padding: 0rem;
  font-family: "Caprasimo", cursive;
}

.gameBoardBox {
  background: linear-gradient(90deg, white, grey);
  border: 1px solid white;
  border-radius: 0.25rem;
  width: 5rem;
  height: 5rem;
  margin: 0.15rem;
  cursor: pointer;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;

}

.tic-tac-toe-user-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem
}

.gameBoard-currentUser {
  display: flex;
  width: 10rem;
  justify-content: center;
  align-items: center;

}

.tic-tac-toe-btn {
  width: 6rem;
  height: 2rem;
  outline: none;
  cursor: pointer;
  border: none;
  font-size: 1rem;
  color: black;
  font-family: "Caprasimo", cursive;
}

.tic-tac-toe-btn:hover {
  background: linear-gradient(90deg, rgb(52, 205, 38), rgb(0, 255, 136));
}


.tic-tac-toe-winner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  span {
    font-size: 3rem;
    color: yellow;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 1px 1px 20px rgb(253, 207, 0);
    animation: bounce 1s infinite alternate;
    text-align: center;
  }
}

.winner-restart-btn {
  font-size: 1.2rem;
  color: black;
  /* font-family: 'Courier New', Courier, monospace; */
  background: linear-gradient(90deg, rgb(218, 241, 8), rgb(255, 230, 0))
}



@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(1rem);
  }

}


/* File upload */



.fileUploadComponent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 5rem;
  /* background: linear-gradient(90deg, white, grey); */
  border-radius: 0.25rem;
  border: 2px dashed #ccc;
  margin-bottom: 1rem;

}

.fileUploadComponent input {
  display: none;
}

.fileUploadComponent label {
  text-align: center;
  width: 7rem;
  background: linear-gradient(180deg, rgb(5, 212, 5), rgb(2, 116, 2));
  padding: 0.25rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

.fileUploadComponent label:hover {
  transform: scale(1.1);
  text-shadow: 2px 20px 20px black;
  background: linear-gradient(90deg, rgb(42, 250, 0), rgb(149, 241, 0));
}

.fileUpload-preview {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  border-radius: 0.25rem;
  align-items: center;
  font-size: 1rem;
  background: linear-gradient(90deg, white, grey);
  color: black;
  margin-bottom: 1rem;
}

.fileUpload-preview-remove {
  font-size: 1.4rem;
  margin-right: 0.5rem;
  color: rgb(255, 255, 255);
  cursor: pointer;

  border-radius: 50%;
  width: 1.6rem;
  height: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgb(148, 0, 0), rgb(212, 1, 1));
  text-shadow: 2px 2px 10px 20px black;
}

.fileUpload-preview-remove:hover {
  transform: scale(1.1);
}


/* // react carousel */

.carousel-image-container {
  width: 100%;
  position: relative;
  cursor: pointer;
}

.carousel-image {
  object-fit: cover;
  width: 100%;
  height: 25rem;
  border-radius: 0.5rem;
  transition: opacity 0.5s ease;
  opacity: 1;
}

.carousel-image.fade-out {
  opacity: 0;
}

.carousel-left-btn,
.carousel-right-btn {
  backdrop-filter: blur(30px);
  background: transparent;
  outline: none;
  border: none;
  color: white;
  cursor: pointer;
  position: absolute;
  font-size: 2rem;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-left-btn:hover,
.carousel-right-btn:hover {
  background: linear-gradient(90deg, rgb(3, 120, 223), rgb(3, 133, 246));
}

.carousel-left-btn {
  top: 46%;
  left: 2%
}

.carousel-right-btn {
  top: 46%;
  right: 2%;
}

/* snake-board */


.snake-board-container {
  height: 89%;
  margin-top: 0.5rem;
  width: 100%;
}

.snake-board {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(15, 1fr);
}

.snake-cell {
  display: flex;
  justify-content: center;
  align-items: center;
}

.snake {
  width: 100%;
  height: 100%;
  border-radius: 25%;
  background-color: green;

}



.food {
  background-color: red;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  animation: blink 2s linear infinite;
  box-shadow: 1px 1px 20px 1px rgb(221, 221, 135);
}

@keyframes blink {
  0% {
    transform: scale(1.1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}